:root {
  --color-primary: #b979fc;
  --color-primary-foreground: #cb97ff;

  --color-secondary: #06176d;
  --color-secondary-foreground: #009fe3;

  --color-accent: #f9b233;
  --color-accent-foreground: #06176d;

  --color-background: #181818;
  --color-foreground: #ebebeb;

  --color-surface: #161616;
  --color-surface-foreground: #e4e4e4;

  --color-muted: #4c4c4c;
  --color-muted-foreground: #9f9f9f;

  --color-paragraph: #9d9d9d;

  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #dc2626;
  --color-info: #2563eb;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);

  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-foreground);

  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-surface: var(--color-surface);
  --color-surface-foreground: var(--color-surface-foreground);

  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);

  --color-paragraph: var(--color-paragraph);

  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
  --color-info: var(--color-info);
}
